<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Add new item</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Add new item</h1>
    <form th:object="${itemDto}" th:action="@{/item/add}" method="post" class="form-horizontal">
        <div class="form-group">
            <label th:for="name" class="col-sm-2 control-label">Name:</label>
            <div class="col-sm-6">
                <input type="text" th:field="*{name}" class="form-control"/>
                <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></small>
            </div>
        </div>
        <div class="form-group">
            <label th:for="comment" class="col-sm-2 control-label">Comment:</label>
            <div class="col-sm-6">
                <textarea th:field="*{comment}" rows="3" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="hidden" name="listId" th:field="*{listId}"/>
                <input type="submit" value="Add item" class="btn btn-default"/>
            </div>
        </div>
    </form>
    <ul class="list-inline">
        <li>
            <a th:href="@{/itemsList(id=${itemDto.listId})}" class="btn btn-info btn-xs" role="button" data-toggle="tooltip" data-placement="bottom" title="Back to the list">
                <span class="glyphicon glyphicon-arrow-left"></span>
            </a>
        </li>
        <li>
            <a th:href="@{/}" class="btn btn-info btn-xs" role="button" data-toggle="tooltip" data-placement="bottom" title="All lists">
                <span class="glyphicon glyphicon-th-list"></span>
            </a>
        </li>
    </ul>
</div>
</body>
</html>