<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title th:text="${item.name}"></title>
</head>
<body>
<div layout:fragment="content">
    <div class="list-group">
        <h1 th:text="${item?.name}" class="list-group-item list-group-item-info"></h1>
        <div class="list-group-item">
            <div class="row">
                <div class="col-md-7">
                    <strong>ID</strong>
                </div>
                <div class="col-md-5">
                    <strong th:text="${item.id}"></strong>
                </div>
            </div>
        </div>
        <div class="list-group-item" th:if="${item.comment}">
            <div class="row">
                <div class="col-md-7">
                    <strong>Comment</strong>
                </div>
                <div class="col-md-5">
                    <strong th:text="${item.comment}"></strong>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row">
                <div class="col-md-7">
                    <strong>Bought</strong>
                </div>
                <div class="col-md-5">
                    <strong th:text="${item.bought}? 'Yes' : 'No'"></strong>
                </div>
            </div>
        </div>
    </div>
    <ul class="list-inline">
        <li class="list-inline-item">
            <a th:href="@{/itemsList(id=${item.itemsList.id})}" class="btn btn-info btn-sm" role="button" data-toggle="tooltip" data-placement="bottom" title="Back to the list">
                <span class="oi oi-arrow-thick-left"></span>
            </a>
        </li>
        <li class="list-inline-item">
            <a th:href="@{/}" class="btn btn-info btn-sm" role="button" data-toggle="tooltip" data-placement="bottom" title="All lists">
                <span class="oi oi-list"></span>
            </a>
        </li>
        <li class="list-inline-item">
            <a th:href="@{/item/edit(id=${item.id})}" class="btn btn-warning btn-sm" role="button" data-toggle="tooltip" data-placement="bottom" title="Edit item">
                <span class="oi oi-pencil"></span>
            </a>
        </li>
        <li class="list-inline-item">
            <a th:href="@{/item/delete(id=${item.id}, listId=${item.itemsList.id})}" onclick="return confirm('Are you sure you want to delete this item?')" class="btn btn-danger btn-sm" role="button" data-toggle="tooltip" data-placement="bottom" title="Delete item">
                <span class="oi oi-x"></span>
            </a>
        </li>
    </ul>
</div>
</body>
</html>