<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE" th:text="#{site.name}"></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="&copy; 2016 Rodionov Aleksandr"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/open-iconic-bootstrap.min.css}"/>
    <script th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</head>
<body>
<div class="container">
    <div class="col-md-6 offset-md-3" layout:fragment="content">
        <!--/*Content goes here*/-->
    </div>
</div>
</body>
</html>